
.header {
	background-color: #ffffe0; 
	text-align: center; 
	padding: 15px; margin: 0px;
	left: 0; right: 0; width: auto;
}
.header headcolor{color: mediumblue;}
.content {
	text-align: center; font-size: 18px; color: #500000;
	height: auto;
	padding: 15px;
}
.body {
	text-align: center; font-size: 20px;
	line-height: 1.8em;
	height: auto;
	padding: 15px;
}
.nextbox {
	text-align: center;
	height: auto;
	padding: 35px; margin: 15px;
}
.nextbutton {
	font-size:1.2em;
	color: #303030;
}
.footer {
	background-color: aliceblue;
	color: darkslategray; font-size: 12px;
	line-height: 1.5em;
	padding: 20px; margin: 0px;
	position: relative; bottom: 0px;
	left: 0; right: 0; width: auto;
}
